@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DavidLibre";
  src: local("DavidLibre"),
    url(../fonts/DavidLibre-Regular.ttf) format("truetype");
}

p {
  font-family: DavidLibre, serif;
  font-weight: bold;
}

.container {
  display: flex;
  height: 100vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}

.column {
  height: max-content;
  min-height: 400px;
  width: 460px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  border: 2px solid #7d7d7d;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 10px;
}
.column p {
  width: 100%;
  text-align: center;
}

.left-dropzone {
  background-color: #fff0f0;
}

.right-dropzone {
  background-color: #fef2e7;
}

.movable-item {
  border-radius: 5px;
  background-color: #fafdff;
  height: 100px;
  width: 130px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}
